<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>800</integer>
  <key>capHeight</key>
  <integer>700</integer>
  <key>copyright</key>
  <string>Copyright &#xa9; 1995, The Font Bureau, Inc. All rights reserved.</string>
  <key>descender</key>
  <integer>-200</integer>
  <key>familyName</key>
  <string>AgencyFBCE-Regular</string>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeHeadCreated</key>
  <string>1995/01/01 00:00:00</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDesigner</key>
  <string></string>
  <key>openTypeNameDesignerURL</key>
  <string></string>
  <key>openTypeNameManufacturer</key>
  <string>The Font Bureau, Inc</string>
  <key>openTypeNameManufacturerURL</key>
  <string>www.fontbureau.com</string>
  <key>openTypeNameDescription</key>
  <string></string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Normal</string>
  <key>openTypeNameUniqueID</key>
  <string>TheFontBureau,Inc: AgencyFBCE-Regular: 1995</string>
  <key>openTypeNameVersion</key>
  <string>Version 1.0; 1995; initial release</string>
  <key>openTypeOS2FamilyClass</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>2</integer>
    <integer>0</integer>
    <integer>6</integer>
    <integer>6</integer>
    <integer>3</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>2</integer>
    <integer>0</integer>
    <integer>4</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>250</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>50</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>204</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>286</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>204</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>204</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>286</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>204</integer>
  <key>openTypeOS2Type</key>
  <array>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>800</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-200</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2VendorID</key>
  <string>FBI</string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>0</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>0</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.0454545</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-3</integer>
    <integer>0</integer>
    <integer>475</integer>
    <integer>478</integer>
    <integer>764</integer>
    <integer>766</integer>
    <integer>769</integer>
    <integer>770</integer>
  </array>
  <key>postscriptUniqueID</key>
  <integer>2000463</integer>
  <key>postscriptFontName</key>
  <string>AgencyFBCE-Regular</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>AgencyFBCE-Regular</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>48</integer>
    <integer>59</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>53</integer>
    <integer>67</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-123</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>20</integer>
  <key>postscriptWeightName</key>
  <string>Normal</string>
  <key>styleMapFamilyName</key>
  <string>AgencyFBCE-Regular</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Normal</string>
  <key>trademark</key>
  <string>AgencyFBCE-Regular is a trademark of the The Font Bureau, Inc.</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>0</integer>
  <key>year</key>
  <integer>1995</integer>
  <key>xHeight</key>
  <integer>500</integer>
</dict>
</plist>
