<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>stems</key>
    <dict>
      <key>h00</key>
      <dict>
        <key>width</key>
        <integer>0</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>28</key>
          <integer>2</integer>
          <key>53</key>
          <integer>3</integer>
          <key>70</key>
          <integer>4</integer>
          <key>90</key>
          <integer>5</integer>
        </dict>
      </dict>
      <key>h01</key>
      <dict>
        <key>width</key>
        <integer>0</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>28</key>
          <integer>2</integer>
          <key>43</key>
          <integer>3</integer>
          <key>57</key>
          <integer>4</integer>
          <key>73</key>
          <integer>5</integer>
        </dict>
      </dict>
      <key>v00</key>
      <dict>
        <key>width</key>
        <integer>0</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>28</key>
          <integer>2</integer>
          <key>43</key>
          <integer>3</integer>
          <key>70</key>
          <integer>4</integer>
          <key>90</key>
          <integer>5</integer>
        </dict>
      </dict>
      <key>v01</key>
      <dict>
        <key>width</key>
        <integer>0</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>28</key>
          <integer>2</integer>
          <key>43</key>
          <integer>3</integer>
          <key>57</key>
          <integer>4</integer>
          <key>73</key>
          <integer>5</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NUL</string>
    <string>Eth</string>
    <string>eth</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Yacute</string>
    <string>yacute</string>
    <string>Thorn</string>
    <string>thorn</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>onesuperior</string>
    <string>threequarters</string>
    <string>threesuperior</string>
    <string>twosuperior</string>
    <string>brokenbar</string>
    <string>minus</string>
    <string>multiply</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Ccedilla</string>
    <string>Eacute</string>
    <string>Ntilde</string>
    <string>Odieresis</string>
    <string>Udieresis</string>
    <string>aacute</string>
    <string>agrave</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>atilde</string>
    <string>aring</string>
    <string>ccedilla</string>
    <string>eacute</string>
    <string>egrave</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>iacute</string>
    <string>igrave</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>ntilde</string>
    <string>oacute</string>
    <string>ograve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>otilde</string>
    <string>uacute</string>
    <string>ugrave</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>dagger</string>
    <string>degree</string>
    <string>cent</string>
    <string>sterling</string>
    <string>section</string>
    <string>bullet</string>
    <string>paragraph</string>
    <string>germandbls</string>
    <string>registered</string>
    <string>copyright</string>
    <string>trademark</string>
    <string>acute</string>
    <string>dieresis</string>
    <string>notequal</string>
    <string>AE</string>
    <string>Oslash</string>
    <string>infinity</string>
    <string>plusminus</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>yen</string>
    <string>mu</string>
    <string>partialdiff</string>
    <string>summation</string>
    <string>product</string>
    <string>pi</string>
    <string>integral</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>Omega</string>
    <string>ae</string>
    <string>oslash</string>
    <string>questiondown</string>
    <string>exclamdown</string>
    <string>logicalnot</string>
    <string>radical</string>
    <string>florin</string>
    <string>approxequal</string>
    <string>Delta</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>ellipsis</string>
    <string>nbspace</string>
    <string>Agrave</string>
    <string>Atilde</string>
    <string>Otilde</string>
    <string>OE</string>
    <string>oe</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>divide</string>
    <string>lozenge</string>
    <string>ydieresis</string>
    <string>Ydieresis</string>
    <string>fraction</string>
    <string>currency</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fi</string>
    <string>fl</string>
    <string>daggerdbl</string>
    <string>periodcentered</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>perthousand</string>
    <string>Acircumflex</string>
    <string>Ecircumflex</string>
    <string>Aacute</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>apple</string>
    <string>Ograve</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Ugrave</string>
    <string>dotlessi</string>
    <string>circumflex</string>
    <string>tilde</string>
    <string>macron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>cedilla</string>
    <string>hungarumlaut</string>
    <string>ogonek</string>
    <string>caron</string>
    <string>Euro</string>
    <string>FL0100h</string>
    <string>FL0101h</string>
    <string>FL0104h</string>
    <string>FL0105h</string>
    <string>FL010Ch</string>
    <string>FL010Dh</string>
    <string>FL0106h</string>
    <string>FL0107h</string>
    <string>FL0179h</string>
    <string>FL017Ah</string>
    <string>FL010Eh</string>
    <string>FL010Fh</string>
    <string>FL0112h</string>
    <string>FL0113h</string>
    <string>FL0116h</string>
    <string>FL0117h</string>
    <string>FL011Ah</string>
    <string>FL011Bh</string>
    <string>FL0118h</string>
    <string>FL0119h</string>
    <string>FL0123h</string>
    <string>FL012Eh</string>
    <string>FL012Fh</string>
    <string>FL012Ah</string>
    <string>FL012Bh</string>
    <string>FL0136h</string>
    <string>FL013Bh</string>
    <string>FL013Ch</string>
    <string>FL013Dh</string>
    <string>FL013Eh</string>
    <string>FL0139h</string>
    <string>FL013Ah</string>
    <string>FL0145h</string>
    <string>FL0146h</string>
    <string>FL0143h</string>
    <string>FL0144h</string>
    <string>FL0147h</string>
    <string>FL2206h</string>
    <string>FL0148h</string>
    <string>FL0150h</string>
    <string>FL0151h</string>
    <string>FL014Ch</string>
    <string>FL014Dh</string>
    <string>FL0154h</string>
    <string>FL0155h</string>
    <string>FL0158h</string>
    <string>FL0159h</string>
    <string>FL0156h</string>
    <string>FL0157h</string>
    <string>FL015Ah</string>
    <string>FL015Bh</string>
    <string>FL0164h</string>
    <string>FL0165h</string>
    <string>FL016Ah</string>
    <string>FL016Bh</string>
    <string>FL016Eh</string>
    <string>FL016Fh</string>
    <string>FL0170h</string>
    <string>FL0171h</string>
    <string>FL0172h</string>
    <string>FL0173h</string>
    <string>FL0137h</string>
    <string>FL017Bh</string>
    <string>FL017Ch</string>
    <string>FL0122h</string>
    <string>FL015Eh</string>
    <string>FL015Fh</string>
    <string>FL0102h</string>
    <string>FL0103h</string>
    <string>FL0162h</string>
    <string>FL0163h</string>
    <string>FL0110h</string>
    <string>FL0111h</string>
  </array>
</dict>
</plist>
